html{
    scroll-behavior: smooth;
}


body{
    background-color: white;
    color: #4682B4;
    font-family: 'Poppins', sans-serif;

}

h1{
    font-size: 30px;
    margin: 40px;
}



.typing-demo {
    font-size: 25px;
    width: 22ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

  @media (prefers-reduced-motion: reduce){
    .typing-demo{
          animation: none;
      }
    
    .flip-card, .flip-card:hover, .flip-card-back, .flip-card-front, .flip-card-inner{
        animation: none;
    }

  }

p{
    color: black;
    margin-left: 40px;
    margin-right: 40px;
}

.about p{
    font-size: 22px;
    word-wrap: break-word;
    line-height: 1.5;
}

.aboutbody{
    color: grey;
    font-size: 18px;
    margin-top: 15px;
}

.homeimages{
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 10px;
    row-gap: 10px;
    padding: 50px;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
  }
  
.skip a:focus{
    top: 0px;
  }

nav{
    padding-bottom: 40px;
}

nav a{
    color: black;
    text-decoration: none;
    list-style-type: none;
    padding: 5px;
  }

.nav_links{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    list-style-type: none;
    background-color: #4682B4;
  }

.nav_item a.active {
    border: 3px solid white;
    outline: none;
    padding: 5px 8px;
    color: white;
  }

.nav_item{
    padding: 10px;
  }


.nav_item a:hover{
    background-color: white;
    color: #4682B4;
    padding: 5px 8px;
    }


footer{
    width: 100%;
    bottom: 0;
    max-height: 100px;
    box-sizing: border-box;
    background-color: black;
}

footer p{
    font-size: 15px;
    color: white;
    padding: 5px;
    text-align: center;
}


/* TCK Page CSS Formatting */


.tck h2{
    display:inline-block;
    margin-left:30px;
    font-size: 22px;
    padding-bottom: 20px;
}
.tck p{
    /* text-indent: 50px; */
    color: black;
    font-size: 18px;
    display:inline-block;
    margin-left:1.5em;
    padding-bottom: 30px;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    width: 100%;
    height: 400px;
    border: 1px solid #f1f1f1;
    text-align: center;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner,
.flip-card:focus-within .flip-card-inner,
.flip-card:active .flip-card-inner,
.flip-card:focus .flip-card-inner  {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  


  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #4682B4;
    color: white;
    transform: rotateY(180deg);
    padding: 30px;
  }


.tck h2{
padding-top: 20px;
}

@media (prefers-reduced-motion: reduce){
    .flip-card, .flip-card:hover, .flip-card-back, .flip-card-front, .flip-card-inner{
        transition: none;
    }
  } 


/* Travel.html CSS Formatting  */

.controls{
    display: flex;
    margin-left: 30px;
    justify-content: center;
    padding: 25px 0px;
    flex-wrap: wrap;
}
.control{
    background-color: white;
    border: 2px solid black;
    padding: 5px 8px;
    margin: 6px;
    color: black;
    /* border-radius: 10px;
    border: #4682B4;
    height: 30px;
    width: 110px;
    color: black; */
}

.control:hover{
    background-color: lightblue;
    border: 2px solid black;
    color: black;
    padding: 5px 8px;
    }



.images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
    margin: 15px;
}

.images img{
    margin: auto;
    width: 95%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    -moz-osx-font-smoothing: grayscale;
    backface-visibility: hidden;
}


.images img:hover {
	border: 5px solid black; 
    transition: transform 0.5s ease-in-out;
    transform: scale(1.05);
}

img.item21{
    grid-column: 1 / 3;
}



/* Contact Page */

.parallax {
    /* The image used */
    background-image: url("../images/turkeytea2.jpg");
  
    /* Set a specific height */
    min-height: 400px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


.contact p{
    padding-top: 30px;
}
.container label{
    color: black
}

label{
    color: black;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }

  input[type=email], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
  }

input[type=submit] {
    background-color: black;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  input[type=submit]:hover {
    background-color: rgb(46, 46, 199);
  }

.formcontainer {
    margin: 40px;
    border-radius: 5px;
    background-color: #A9C7E9;
    padding: 20px;
  }


  
/* ----TABLET VIEW----- */

@media screen and (min-width: 750px){

h1{
    font-size: 42px;
}

.tck h2{
    font-size: 30px;
}

.flip-card {
    width: 500px;
    height: 400px;
  }
      
.typing-demo {
    font-size: 42px;
    }
      
    
p{
    color: black;
    margin-left: 40px;
    margin-right: 40px;
}
    
.about p{
    margin-right: 40px;
    font-size: 32px;
    word-wrap: break-word;
    line-height: 1.5;
    }
    
.aboutbody{
    color: grey;
    font-size: 18px;
    margin-top: 15px;
    }

nav{
    margin-top: 15px;
}


.nav_links{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    background-color: white;
}

.nav_item a.active {
    border: 3px solid #4682B4;
    outline: none;
    padding: 5px 8px;
    color: black;
  }

.nav_item{
    padding: 10px;
  }


.nav_links a:hover{
    background-color: white;
    color: #4682B4;
    padding: 5px 8px;
    border: 3px solid lightgrey
    }


.homeimages{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    padding: 40px;
}
  
.images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    margin: 15px;
    }
    
.images img{
    margin: auto;
    width: 95%;
    height: 100%;
    object-fit: cover;
    }

img.item5{
    grid-column: 1 / 3;
}

img.item6{
    grid-column: 2 / 4;
}

img.item17{
    grid-column: 1 / 3;
}

img.item21{
    grid-column: 3;
}


}

@media screen and (min-width: 1025px){

h1{
    font-size: 64px;
}

.tck h2{
    font-size: 42px;
}
      
.typing-demo {
    font-size: 64px;
    }
      
    
    
.about p{
    font-size: 38px;
    padding-bottom: 20px;
    }
    
.aboutbody{
    font-size: 20px;

    }

/* .typing-demo {  
        white-space: nowrap;
      }
      

    
.about p{
    margin-top: 50px;
    
    } */ 

.parallax2 {
  
    /* Set a specific height */
    min-height: 600px; 
  
  }


.images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 40px;
    margin: 15px;
    }
    
.images img{
    margin: auto;
    width: 95%;
    height: 100%;
    object-fit: cover;
    }

img.item5{
    grid-column: 3 / 5;
}

img.item6{
    grid-column: 1 / 3;
}


img.item10{
    grid-row: 2;
    grid-column: 4;
}

img.item21{
    grid-row: 5;
    grid-column: 4;
}
}

@media screen and (prefers-reduced-motion: reduce){
    /*Turn off scroll*/
    html{
        scroll-behavior: auto; /* Removes scroll animation */
    }
  
    /*Turn off transition*/
    .flip-card, .flip-card:hover, .flip-card-back, .flip-card-front, .flip-card-inner{
      -webkit-transition: initial; 
      transition: initial; 
    }
  
    /*Turn off parallax*/
    .parallax{
      background-attachment: initial;
    }
  }